/* resetting rules */

/* colors
#008184
#e47128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/* nav section */
.top_nav_bar {
  background-color: #f8f9fa;
  font-size: 1em;
  background-image:
    url(images/nav_bg_nobg.png), url(images/nav_bg_nobg.png),
    url(images/nav_bg_nobg.png), url(images/nav_bg_nobg.png);
  background-size: contain, contain, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position:
    bottom left,
    bottom right,
    right,
    top left;

  /* postion sticky */
  /* position: sticky !important; */
  /* top: 0 !important;
  z-index: 99999 !important; */
}

/* nav link tabs' header  */
@media (min-width: 990px) {
  .navbar b {
    display: none !important;
    margin: 6px !important;
  }
}

/* link tabs */

/* Selected */
.navbar .nav-tabs.active {
  font-weight: 600;
  border-bottom: 2px solid #00878f;
  color: #00878f !important;
}

/* Hover */
.nav-tabs:hover {
  font-weight: bold;
  color: #00878f !important;
}

/* arduino webpage sections */

/* header section */
h2 {
  font-size: 36px !important;
  border-bottom: 2px solid #4285f4;
}
.arduino-card {
  background-color: transparent !important;
  border: none !important;
  transition: box-shadow linear 0.3s;
}

.arduino-card:hover {
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px #d3d4d5;
}

/* footer section */

/* footer line */
.footer-divider {
  font-weight: bold;
  width: 100%;
  height: 1px;
  background-color: #cfd8dc !important;
}
footer {
  background-color: #ecf1f1 !important;
  border-top: 1px solid #cfd8dc;
}

.upt-btn {
  color: #5d6a6b !important;
  /* font-size: 43px !important; */
  position: fixed;
  right: 15px;
  bottom: 51px;
  transition: all 0.7s ease;
}

.upt-btn:hover {
  display: inline-block;
  color: #00878f !important;
}
